@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full p-3 rounded-md border focus:outline-none focus:ring-2 border-border bg-background text-text;
  }
  .button {
    @apply w-full py-3 rounded-md font-semibold transition-colors bg-selected hover:bg-background disabled:opacity-50;
  }
}

:root {
  --background-color: #f1f5f9;
  --text-primary: #595959;
  --text-secondary: #717171;
  --border: #d1d5db;
  --card: #ffffff;
  --hover: #f0f2f5;
  --selected: #e5e8ec;
  --muted: #d4d4d4;
  --card-secondary: #eaeaea;
}

.dark {
  --background-color: #09090c;
  --text-primary: #bebec4;
  --text-secondary: #8a8a90;
  --border: #26262b;
  --card: #111113;
  --hover: #3a3a44;
  --muted: #2f2f34;
  --selected: #222228;
  --card-secondary: #1a1a1e;
}
